<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>登录</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>

<div th:replace="components/header :: header"></div>
<div class="container" layout:fragment="content"></div>
<div th:replace="components/footer :: footer"></div>

<script th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"/>
<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"/>
</body>
</html>